<%- include('partials/top.ejs') %>
<div class="container py-5">
	<div class="navigation">
		<a class="n-link btn btn-primary p-5" href="/tickets">Tickets</a>
		<a class="n-link btn btn-primary p-5" href="/tickets/add">Addt tickets</a>
		<a class="n-link btn btn-primary p-5" href="/user">Users</a>
	</div>
</div>
<%- include('partials/bottom.ejs') %>
